html {
  background: url(../Photo`s/achtergrond_forum.jpg) no-repeat center center fixed;
  background-size: cover;
  overflow-x: hidden;
  margin-right: -30px;
}

/* Menu */
#menu {
  background-color: #ffffff90;
  margin: 100px 0px 0px -10px;
  width: 100%;
  padding: 50px 0px 50px 0px;
}

#menu img {
  	position: relative;
    margin-top: -120px;
    margin-bottom: -100px;
    margin-left: -20px;
}

#menu p.menu_title {
  position: relative;
  color: #3052a8;
  font: arial;
  font-size: 55px;
  font-family: monospace;
  margin-top: -25px;
  margin-bottom: -25px;
  margin-left: 180px;
  cursor: default;
}

#menu_items a.first_item {
  margin-left: 400px;
}

#menu_items a:not(.first_item) {
  margin-left: 60px;
}

#menu_items a {
  color: white;
  position: relative;
  font: arial;
  font-family: monospace;
  text-decoration: none;
  font-size: 25px;
  background-color: #4cd8ff;
  padding: 0px 55px 10px 55px;
  bottom: 125px;
}

#menu_items a.active {
  background-color: #0066ff;
}

#menu_items a:hover:not(.active) {
  background-color: black;
}

#menu p.search {
  position: relative;
  color: black;
  font: arial;
  font-size: 25px;
  font-family: monospace;
  left: 1500px;
  bottom: 125px;
  color: #ffffff;
  background-color: #1b4dff;
  border: transparent;
  padding: 15px 30px 15px 10px;
  margin-bottom: -125px;
  width: 140px;
  text-align: center;
}

#menu p.search:hover {
  background-color: black;
  cursor: pointer;
}

#menu input {
  position: relative;
  left: 1410px;
  background-color: #269dff;
  border-style: none;
  bottom: 41px;
  height: 57px;
  width: 90px;
}
