html {
  background: url(../Photo`s/achtergrond_forum.jpg) no-repeat center center fixed;
  background-size: cover;
  overflow-x: hidden;
  position: inherit;
}

#menu {
  background-color: #ffffff90;
  margin: 100px 0px 0px -10px;
  width: 100%;
  padding: 50px 0px 50px 0px;
}

#menu img {
  	position: relative;
    margin-top: -120px;
    margin-bottom: -90px;
    margin-left: -20px;
}

#menu p {
  position: relative;
  color: ;
  font: arial;
  font-size: 60px;
  font-family: monospace;
  margin-top: -30px;
  margin-bottom: -20px;
  margin-left: 180px;
}

#menu_items a:not(.first_item) {
  margin-left: 40px;
}

#menu_items a {
  color: white;
  position: relative;
  font: arial;
  font-family: monospace;
  text-decoration: none;
  font-size: 20px;
  background-color: #4cd8ff;
  padding: 0px 40px 10px 40px;
  bottom: 100px;
}

#menu_items a.first_item {
  margin-left: 250px;
}
